.currency
{
  &__list
  {
    display: flex;
    justify-content: flex-end;

    margin: 20px;

  }

  &__right
  {
    margin-left: 30px;
    width: 200px;
  }
  &__update
  {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    & > div
    {
     margin-left: 10px;
    }
  }

}