.fade-enter {
  opacity: 0;
  z-index: 1;
}



.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.daysRenderItem > div{
  max-width: 200px;
  margin-left: 5px !important;
  z-index: 1480 !important;
}

.daysRenderItem > div .ant-input{
  max-width: 180px;
}

.daysRenderItem{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}

.ql-container.ql-snow{
  min-height: 200px;
}

.add-post-timer{

}

.time-to-read{
  font-size: 12px !important;
}

.preview-link{
  max-width: 200px !important;
  font-size: 12px !important;
}

.bottom-add-space{
  margin-top: 20px;
  margin-bottom: 20px;

}

#app{
  display: flex;
  justify-content: center;
  > div{
    //max-width: 1200px;
  }
}

.telegram-logos{
  display:flex;
  justify-content:flex-start;
  margin: 30px 0px;
  img{
    max-height: 150px;
  }
}

.header-row{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 10px;
  div{
    text-align: right;
    margin-left: 50px;
    padding-right: 20px;

    h2{
      line-height: 20px;
      color:rgba(0,0,0,0.8);

    }
    p{
      line-height: 16px;
    }
  }
}
.preview-example{
  display: flex;
  img{
    max-width: 300px;
    max-height: 200px;
  }

}
.page-wrap{
  width: 100%;
  //max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  p{
    font-size: 14px;
  }


}
@media (max-width: 787px) {
  .header-row{

    div{

      font-size: 0.8em;
      h2{
        line-height: 20px;

      }
      p{
        line-height: 16px;
      }
    }
  }
}
@media (max-width: 479px) {
  .header-row {
    flex-direction: column;
    div {
      text-align: left;
      //font-size: 0.6em;
      margin-left: 0px;
    }
  }
  .telegram-logos{

    img{
      max-height: 100px;
    }
  }

}

@media (max-width: 350px) {
  .telegram-logos{

    img{
      max-height: 70px;
    }
  }

}


.sso-bg-back{
  >div{
    >div{
      padding-top: 0px !important;
    }
  }
}

.list__post-item{
  margin-bottom: 10px;
  .post__body-preview{
    background: #ede7f6;
    background: rgba(0, 191, 165, 0.4);

  }
}
